.fa-facebook-f {
    font-size: 50px;
    margin-right: 40px;
    margin-top: 200px;
    margin-bottom: 100px;
    color: #0E8AEB;
}

.fa-linkedin {
    font-size: 50px;
    margin-right: 40px;
    margin-top: 200px;
    margin-bottom: 100px;
    color: #0E8AEB;
}

.fa-twitter {
    font-size: 50px;
    margin-right: 20px;
    margin-top: 200px;
    margin-bottom: 100px;
    color: #0E8AEB;
}