.navbar-nav customlink {
    margin-right: 10px;
}

.navigation {
    margin-left: 550px;
}

.navbar {
    font-weight: 600;
    font-size: 18px;
    background-color: #e6e1f8;
}

@media only screen and (max-width:576px) {
    .navigation {
        margin-left: 0;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .navigation {
        margin-left: 0;
    }
}